[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "SIBR_viewers"]
	path = SIBR_viewers
	url = https://gitlab.inria.fr/sibr/sibr_core.git
[submodule "submodules/diff-gaussian-rasterization-w-pose"]
	path = submodules/diff-gaussian-rasterization-w-pose
	url = https://github.com/altaykacan/diff-gaussian-rasterization-w-pose.git
[submodule "submodules/diff-gaussian-rasterization-entropy"]
	path = submodules/diff-gaussian-rasterization-entropy
	url = git@github.com:altaykacan/diff-gaussian-rasterization-entropy.git
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = git@github.com:graphdeco-inria/diff-gaussian-rasterization.git
